* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 80px; 
    background-image: url('gym-pictures-cvvcmuhn2ppuii7u.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 46%, 35%);
    color: white;
    padding: 0px 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

.logo {
    width: 240px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

header a:hover {
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    transition: 0.5s;
}

.row{
    padding-top: 80px;
    padding: 140px;
}


@media (max-width: 320px) {
    header {
      padding: 0px 20px;
    }
    .row {
      padding: 60px;
    }
  }
  @media (max-width: 768px) {
    .logo {
      width: 180px;
    }
    .row {
      padding: 80px;
    }
  }